<button mat-raised-button color="primary" class="btn-back" (click)="backClicked()">Back</button>
<div class="container single-item-wrapper">
  <mat-card class="item-wrapper" *ngIf="item">
    <img mat-card-image *ngIf="item.img" [src]="item.img" alt="Photo of a Shiba Inu">
    <img mat-card-image *ngIf="!item.img" src="../../assets/images/no_img.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <h2 *ngIf="item.title">{{ item.title }}</h2>
      <p *ngIf="item.description">{{ item.description }}</p>
      <p *ngIf="!item.description">no description</p>
    </mat-card-content>
  </mat-card>
</div>
